<!-- <!DOCTYPE html> -->
<footer class="navbar-inverse navbar-fixed-bottom text-center center-block">
    <br>
    <div class="text-center center-block">
        <p class="text-muted"><a id="wafEmail" class="text-muted" href="mailto:wafwaf@gmail.com">K'eyush The Stunt Dog&trade;</a>
        </p>
        <a href="https://www.facebook.com" id="facebook_button" class="btn btn-primary">Facebook <i
                class="fab fa-facebook-f"></i> </a>
        <a href="https://twitter.com/" id="twitter_button" class="btn btn-primary">Twitter <i
                class="fab fa-twitter"></i> </a>
        <a href="https://linkedin.com" id="linkedin_button" class="btn btn-primary">LinkedIn <i
                class="fab fa-linkedin-in"></i> </a>
        <a href="https://www.wikipedia.org/" id="wikipedia_button" class="btn btn-primary">Wikipedia <i
                class="fab fa-wikipedia-w"></i></a>
        <br>
    </div>
    <br>
</footer>