<!-- <!DOCTYPE html> -->s
<footer class="navbar-inverse navbar-fixed-bottom text-center center-block">
    <br>
    <div class="text-center center-block">
        <p class="text-muted"><a id="wafEmail" class="text-muted" href="mailto:wafwaf@gmail.com">K'eyush The Stunt Dog&trade;</a></p>
        <a href="https://www.facebook.com" class="btn btn-primary">Facebook <span class="fa fa-facebook"></span> </a>
        <a href="https://twitter.com/" class="btn btn-primary">Twitter <span class="fa fa-twitter"></span> </a>
        <a href="https://linkedin.com" class="btn btn-primary">LinkedIn <span class="fa fa-linkedin"></span> </a>
        <a href="https://www.wikipedia.org/" class="btn btn-primary">Wikipedia <span class="fa fa-wikipedia-w"></span></a>
        <br>
    </div>
    <br>
</footer>