<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName} + ' | ' + ${pageName}"> Page</title>
    <!--    Note: The UI libs. -->
    <div th:replace="/fragments/head :: #headLibraries"></div>
</head>
<body>

<div th:replace="/fragments/navbar :: nav"></div>

<div class="bg-info">
    <br><br><br><br><br>
    <div class="container"><i>Placeholder. TODO - Security stuff.</i></div>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
        <br>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" method="post" th:action="@{/access/logIn}" th:object="${user}">
                <h3 class="form-signin-heading">Please Sign In</h3>
                <hr>
                <label for="inputEmail" class="sr-only">Your email address.</label>
                <input th:field="*{emailAddress}" type="email" id="inputEmail" name="email" class="form-control" placeholder="Your email address."
                       required autofocus>
                <br>
                <label for="inputPassword" class="sr-only">Your password.</label>
                <input th:field="*{userPassword}" type="password" id="inputPassword" name="password" class="form-control"
                       placeholder="Your password."
                       required>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me.
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign
                    In
                </button>
            </form>
            <hr>
            <p> Don't have an account? Make one <span
                    class="glyphicon glyphicon-user"></span>  <a href="/access/register">here</a>.</p>
        </div>
        <div class="col-md-4">
            <div th:if="${errorMessages.size() > 0}" class="alert alert-warning"
                 role="alert">
                <strong>Holy guacamole!</strong>
                <p>This is the error list:</p>
                <ul th:each="errorMessage : ${errorMessages}">
                    <li th:text="${errorMessage}"></li>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>

