<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName} + ' | ' + ${pageName}"> Page</title>
    <!--    Note: The UI libs. -->
    <div th:replace="/fragments/head :: #headLibraries"></div>
</head>
<body>

<div th:replace="/fragments/navbar :: nav"></div>

<div class="bg-info">
    <br><br><br><br><br>
    <div class="container"><i>Placeholder. TODO - Security stuff.</i></div>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
        <br><br><br>
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="form-signup">
                <h3 class="form-signup-heading">Please Sign Up</h3>
                <hr>
                <p class="" th:text="#{registration.label.user.emailAddress}"></p>
                <input type="email" id="inputEmail" name="email" class="form-control"
                       placeholder="example@gmail.com"
                       required autofocus>
                <br>
                <p th:text="#{registration.label.user.firstName}"></p>
                <input type="text" id="firstName" name="firstName" class="form-control"
                       placeholder="Keyush"
                       required>
                <br>
                <p th:text="#{registration.label.user.lastName}"></p>
                <input type="text" id="lastName" name="lastName" class="form-control"
                       placeholder="The Stunt Dog"
                       required>
                <br>
                <p th:text="#{registration.label.user.password}"></p>
                <input type="password" id="inputPassword" name="password" class="form-control"
                       placeholder="Input a password greater than 8 characters in length."
                       required>
                <br>
                <p th:text="#{registration.label.user.confirmPassword}"></p>
                <input type="password" id="confirmPassword" name="password" class="form-control"
                       placeholder="The password you entered above."
                       required>
                <br>
                <p th:text="#{registration.label.user.angleUsername}"></p>
                <input type="text" id="username" name="username" class="form-control"
                       placeholder="keyush_123"
                       required>
                <br>
                <p th:text="#{registration.label.user.dob}"></p>
                <input type="date" id="dob" name="dob" class="form-control"
                       placeholder="01/01/1996"
                       required>
                <br>
<!--                <label for="image" class="sr-only">Your profile picture.</label>-->
<!--                <input type="" id="image" name="image" class="form-control"-->
<!--                       placeholder="Your profile picture."-->
<!--                       required>-->
<!--                <br>-->
                <br>
                <label>Terms and conditions: <a href="" style="text-decoration: underline;">References.</a></label>
                <p>Please read all of the terms and conditions and check the box below if you agree.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="agree-or-not"> I agree with the terms and conditions.
                    </label>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Register
                </button>
            </form>
            <hr>
            <p> Already have an account? Sign in <span
                    class="glyphicon glyphicon-user"></span> <a href="/logIn">here</a>.</p>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br>
</div>
</body>
</html>