<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName} + ' | ' + ${pageName}"> Page</title>
    <!--    Note: The UI libs. -->
    <div th:replace="/fragments/head :: #headLibraries"></div>
</head>
<body>

<div th:replace="/fragments/navbar :: nav"></div>

<div class="bg-info">
    <br><br><br><br><br>
    <div class="container"><i>Placeholder. TODO - Security stuff.</i></div>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
        <br>
        <div class="col-lg-4">
            <div class="alert alert-success" th:if="${successMessage != null}">
                <b>Yay!</b>
                <p th:text="${successMessage}"></p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </div>
            <div class="alert alert-info" th:if="${successMessage != null}">
                <strong>Enter your new account!</strong>
                <p>You can access you account by <a href="/logIn">logging in</a>.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </div>
            <br>
        </div>
        <div class="col-lg-4">
            <form class="form-signup" th:action="@{/register}" th:object="${user}" method="post">
                <h3 class="form-signup-heading">Please Sign Up</h3>
                <hr>
                <p class="" th:text="#{registration.label.user.emailAddress}"></p>
                <input th:field="*{emailAddress}" type="email" id="inputEmail" name="email" class="form-control"
                       placeholder="example@gmail.com"
                       required autofocus>
                <br>
                <p th:text="#{registration.label.user.firstName}"></p>
                <input th:field="*{userFirstName}" type="text" id="firstName" name="firstName" class="form-control"
                       placeholder="Keyush"
                       required>
                <br>
                <p th:text="#{registration.label.user.lastName}"></p>
                <input th:field="*{userLastName}" type="text" id="lastName" name="lastName" class="form-control"
                       placeholder="The Stunt Dog"
                       required>
                <br>
                <p th:text="#{registration.label.user.password}"></p>
                <input th:field="*{userPassword}" type="password" id="inputPassword" name="password"
                       class="form-control"
                       placeholder="Input a password greater than 8 characters in length."
                       required>
                <br>
                <p th:text="#{registration.label.user.confirmPassword}"></p>
                <input th:field="*{confirmedPassword}" type="password" id="confirmPassword" name="password"
                       class="form-control"
                       placeholder="The password you entered above."
                       required>
                <br>
                <p th:text="#{registration.label.user.angleUsername}"></p>
                <input th:field="*{angleUsername}" type="text" id="username" name="username" class="form-control"
                       placeholder="keyush_123"
                       required>
                <br>
                <!--                Note: Not required. -->
                <p th:text="#{registration.label.user.age}"></p>
                <input th:field="*{age}" type="number" id="age" name="age" class="form-control"
                       placeholder="21">
                <br>
                <!--                <label for="image" class="sr-only">Your profile picture.</label>-->
                <!--                <input type="" id="image" name="image" class="form-control"-->
                <!--                       placeholder="Your profile picture."-->
                <!--                       required>-->
                <!--                <br>-->
                <br>
                <label>Terms and conditions: <a href="" style="text-decoration: underline;">References.</a></label>
                <p>Please read all of the terms and conditions and check the box below if you agree.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="agree-or-not"> I agree with the terms and conditions.
                    </label>
                </div>
                <br>
                <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Register
                </button>
            </form>
            <hr>
            <p> Already have an account? Sign in <span
                    class="glyphicon glyphicon-user"></span> <a href="/logIn">here</a>.</p>
            <br>
        </div>
        <div class="col-lg-4">
            <div th:if="${errorMessages.size() > 0}" class="alert alert-warning"
                 role="alert">
                <strong>Holy guacamole!</strong>
                <p>This is the error list:</p>
                <ul th:each="errorMessage : ${errorMessages}">
                    <li th:text="${errorMessage}"></li>
                </ul>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br>
            </div>
            <br>
        </div>
    </div>
</div>
</body>
</html>