<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName} + ' | ' + ${pageName}"> Page</title>
    <!--    Note: The UI libs. -->
    <div th:replace="/fragments/head :: #headLibraries"></div>
</head>
<body>

<div th:replace="/fragments/navbar :: nav"></div>

<div class="bg-info">
    <br><br><br><br><br>
    <div class="container"><i>Placeholder.</i></div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <div class="col-md-4">
                <h3>Angle Entity Info</h3>
                <hr>
                <!-- Note: These 'entity.entityId and entity.entityName' warning is a false positive. -->
                <div class="well well-sm"><p class="center-block">Id: <span
                        th:text="${angleEntity.angleEntityId}"></span></p></div>
                <div class="well well-sm"><p class="center-block">Name: <span
                        th:text="${angleEntity.angleEntityName}"></span></p></div>
                <div><a href="/">Back to home</a>.</div>
                <hr>
            </div>
            <form action="#" th:action="@{/update/{id}(id=${angleEntity.angleEntityId})}" th:object="${angleEntity}" method="post">
                <div class="col-md-4">
                    <h3>Edit Angle Entity</h3>
                    <hr>
                    <div class="form-group">
                        <!--                        <label for="inputAngleEntityId">Id:</label> -->
                        <input type="" th:disabled="true" class="form-control" id="inputAngleEntityId"
                               placeholder="IDENTITY"
                               th:field="*{angleEntityId}">
                        <br>
                        <!--                        <label for="inputAngleEntityName">Name:</label> -->
                        <input type="text" class="form-control" id="inputAngleEntityName" placeholder="Keyush"
                               th:field="*{angleEntityName}">
                        <br>
                        <button class="btn btn-primary" type="submit" value="Update">Update</button>
                        <button class="btn btn-default" type="reset" value="Clear">Clear</button>
                        <br>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </form>
            <div class="col-md-4">
                <h3>View All Angle Entities</h3>
                <hr>
                <a href="/viewAngleEntities">
                    <button class="btn btn-lg btn-primary" type="button" value="View All">View All</button>
                </a>
                <br><br>
                <p>Entities count: <span>X NUMBER</span></p>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>