<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName} + ' ' + ${pageName}"> Page</title>
    <!--    Note: The UI libs. -->
    <div th:replace="/fragments/head :: #headLibraries"></div>
</head>
<body>

<div th:replace="/fragments/navbar :: nav"></div>

<div class="bg-info">
    <br><br><br><br>
    <div class="container"><i>Placeholder.</i></div>
    <br><br>
</div>

<div class="container">
    <div class="row">
        <div class="container">
            <h2>AngleEntity info:</h2>
            <!-- Note: These 'entity.entityId and entity.entityName' warning is a false positive. -->
            <p>Id: <span th:text="${angleEntity.angleEntityId}"></span></p>
            <p>Name: <span th:text="${angleEntity.angleEntityName}"></span></p>
            <div><a href="/">Back to home</a>.</div>
            <hr>
        </div>
    </div>
</div>
</body>
</html>