/* Note: Inline CSS present in the HTML pages. Here is the main style file for this project. */

#wafEmail:hover {
    text-decoration: none;
    color: ghostwhite;
}

.well-sm p {
    margin: 0;
}

footer .btn {
    margin: 5px 5px 5px 5px;
}

td p {
    margin: 5px 0px 0 0;
}